
<div class= "container">
<% @pizzas.each do |pizza| %>
  <div class="order">
  <p>Name: <%= pizza.pretty_name() %> </p>
  <p>Order: <%= pizza.quantity %> x <%= pizza.topping %></p>
  <a class="order-button" href="/pizzas/<%= pizza.id %>">Manage Order</a>
  </div>
<% end %>
</div>
