<form method="POST" action="/pizzas"> <!-- method is the HTTP verb, and action is where you're directing it to as per REST -->
<fieldset>
  <legend>your details </legend>
  <label for="first-name">First Name: </label>
  <input type="text" name="first_name" id="first-name"/>

  <label for="last-name">Last Name:</label>
  <input type="text" name="last_name" id="last-name" />
</fieldset>

<fieldset>
  <legend>choose your pizza</legend>
  <label for="pizza-select">Select Pizza:</label>
  <select id="pizza-select" name="topping">
    <option value="Margherita">Margherita</option>
    <option value="Calzone">Calzone</option>
  </select>

  <label for="quantity">Quantity:</label>
  <input type = "number" min="1" id="quantity" name="quantity" />
</fieldset>

<div class="confirm">
  <input class="btn" type="submit" value="Order Pizza"/> 
</div>
</form>