<form method="POST" action="/pizzas"> <!-- method is the HTTP verb, and action is where you're directing it to as per REST -->
  <label for="first-name">First Name: </label>
  <input type="text" name="first_name" id="first-name"/>

  <label for="last-name">Last Name:</label>
  <input type="text" name="last_name" id="last-name" />

  <label for="pizza-select">Select Pizza:</label>
  <select id="pizza-select" name="topping">
    <option value="Margherita">Margherita</option>
    <option value="Calzone">Calzone</option>
  </select>

  <label for="quantity">Quantity:</label>
  <input type = "number" min="1" id="quantity" name="quantity" />

  <input type="submit" value="Order Pizza"/> <!-- input tags don't take anything between opening and closing, so whatever you put in value attribute is what will be displayed to the user -->

</form>