body {
  background-color: #FFEBDA;
  font-family: Helvetica;
  display: flex;
  flex-flow: column wrap;
}

nav  {
  background-color: #820021;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: flex-end;

}

nav li {
  display: inline-block;
}

.button {
  color: #820021;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  margin: 5px;
}

.button:hover{
  color: white;
  background-color: #820021;
}

form {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  margin: 10px 10px 10px 20px;
  
}

fieldset {
  
  margin: 20px 0px 20px 0px;
  border-radius: 5px;
  border: 1px solid #820021;
  width: 300px;
  padding: 20px;
  
}

legend {
  color: #820021;
}

form input {
  flex-basis: auto;
  border-radius: 5px;
  width: 300px;
  height: 25px;
  margin: 10px 0px 10px 0px;
  font-size: 14px;
  
}

form select{
  flex-basis: auto;
  border-radius: 5px;
  width: 300px;
  height: 25px;
  margin: 10px 0px 10px 0px;
  padding: 10px;
  font-size: 14px;
}

.confirm .btn {
  background-color: #820021 ;
  color: white;
  height: 40px;
  font-size: 16px;
  padding: 10px;
  border: none;
}

.confirm .btn:hover{
  background-color: #4B7F7F;

}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  
}

.container .order{
  border: 1px solid #820021;
  color: #820021 ;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
  flex-basis: auto;
  width: 250px;
}

.order-button{
  background-color: #820021;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px;
  text-decoration: none;
  float: right;
}

.order-button:hover{
  background-color: #4B7F7F;
  color: white;
}

.confirm-button{
  background-color: #820021;
  color: white;
  height: 40px;
  font-size: 16px;
  padding: 10px;
  border: none;
}

.confirm-button:hover {
  background-color: #4B7F7F;
  color: white;
}

.message{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}








